# Ignore project documentation and reference folders
backlogs-sprints/
design-reference/
guidelines-security/
notes-considerations/

#Ignore specific files such as test files and local db files
read_excel.py
database/acadence.db
.env*
document.txt
Acadence_Security_Implementation_Report.docx
__pycache__/
*.pyc
Acadence.spec
build/
dist/